<body class="index" class="text-center"> 
    <div class="cover-container d-flex h100 p3 mx-auto flex-column mt-5">
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading text-center">Welcome to Tea Explorer</h1>
        <p class="lead text-center">
        Discover more about the world of teas
        
       <div> <a href="/auth/signup" class="btn  btn-secondary btn-home">Sign Up</a>
             <a href="/teas" class="btn  btn-secondary btn-home">Log in</a>
       </div>
        </p>
      <div class="quote">
        <q class="text-center text-light">Each cup of tea represents an imaginary voyage.</q>
        <p class="text-black">Catherine Douzel</p>
    </div>
    </main>
    </div>
</body>   