
<body class="index text-center">
  <div class="cover-container d-flex h100 p3 mx-auto flex-column mt-5">
    <main role="main" class="inner cover text-center">
      <h1 class="cover-heading text-center">Welcome to Tea Explorer</h1>
      <p class="lead text-center">
        Discover more about the world of teas
        <div>
          <a href="/auth/signup" class="btn btn-dark btn-home bg-transparent">Sign Up</a>
          <a href="/teas" class="btn btn-dark btn-home bg-transparent">Log in</a>
        </div>
      </p>
      <div class="quote mx-auto">
        <q>{{teaQuote}}</q>
      </div>
    </main>
  </div>

  <!-- Footer Section -->
  
  <footer class="footer">
   <footer class="footer">
    <div class="footer-content">
      <p>Built by:  Gabriel Ogbera <a href="https:/www.linkedin.com/in/john-doe" target="_blank" rel="noopener noreferrer"><img src="/images/linkedin.png" height="30px" width="35px" alt=""></a><a href="https://github.com/Ogbera-Gabriel" target="_blank" rel="noopener noreferrer"><img src="/images/github.gif" height="20px" width="25px" alt=""></a>| Julia Guillotte <a href="https://www.linkedin.com/in/julia-guillotte" target="_blank" rel="noopener noreferrer"><img src="/images/linkedin.png" height="30px" width="35px" alt=""></a><a href="https://github.com/jsguillotte" target="_blank" rel="noopener noreferrer"><img src="/images/github.gif" height="20px" width="25px" alt=""></a></p>
    </div>
  </footer>
  </footer>
</body>
</html>
