 body {
  background-color: rgb(230, 222, 213);
 }
 .index {
  background-image: url(/images/teafield.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.btn-home {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 90px;
}

.quote {
  font-size: larger;
  margin-top: 15%;
  
}
.create {
  display: block;
  margin: 25px auto;
}
.btn-outline-success {
  display: block
}

.tea-details-top {
  height: 70px
}

.btn-group {
  
  display: flex;
  justify-content: flex-end
}
  .comment {
    margin-left: 25px;
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
  }

  .review {
    margin-left: 25px;
    
  }
  .btn-comment-send {
    margin-left: 35%
  }