<h2>New Tea</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/teas/create" method="post" enctype="multipart/form-data"> {{!-- !!! --}}
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" />
        </label>
      </div>

      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control"> </textarea>
        </label>
      </div>
      <label> Origin:
       <input type="tel" name="origin" />
      </label>
      <label> Type:
       <input type="tel" name="type" />
      </label>
      <label> Caffeine:
       <input type="tel" name="caffeine" />
      </label>
      <div class="form-group">
        <label>Taste Description:
          <textarea name="tasteDescription" cols="30" rows="4" class="form-control"> </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Image:
          <input type="file" name="tea-cover-image" class="form-control-file" />
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
