<body class="new-tea">
<div class="container-fluid">
 <header>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand justify-content-between" href="/">TEA EXPLORER 🍵</a>
  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-danger" href="/">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas">Teas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teas/create">Add new tea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <div class="input-group">
          <input class="form-control mr-sm-2" name="name" type="text"  placeholder="Search for tea" aria-label="Search">
          <button class="btn btn-default btn-secondary text-white my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
 </div>
</nav>
</header>   
<div style="height: 50px;"></div>

  <div class="card card-form card mx-auto" style="max-width: 600px; margin-top: 20px;">
  <h2 class="card-title text-center mt-2">New Tea</h2>
  <div class="card-body">
    <form action="/teas/create" method="post" enctype="multipart/form-data">
      <div class="form-group mb-2">
        <label for="name" class="mb-2">Name:</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>
      
      <div class="form-group mb-2">
        <label for="description" class="mb-2">Description:</label>
        <textarea id="description" name="description" cols="30" rows="4" class="form-control"></textarea>
      </div>
      
      <div class="form-group mb-2">
        <label for="origin" class="mb-2">Origin:</label>
        <input type="text" id="origin" name="origin" class="form-control">
      </div>
      
      <div class="form-group mb-2">
        <label for="type" class="mb-2">Type:</label>
        <input type="text" id="type" name="type" class="form-control">
      </div>
      
      <div class="form-group mb-2">
        <label for="caffeine" class="mb-2">Caffeine:</label>
        <input type="text" id="caffeine" name="caffeine" class="form-control">
      </div>
      
      <div class="form-group ">
        <label for="tasteDescription" class="mb-2">Taste Description:</label>
        <textarea id="tasteDescription" name="tasteDescription" cols="30" rows="4" class="form-control"></textarea>
      </div>
      
      <div class="form-group mb-2">
        <label for="tea-cover-image" class="custom-file-label mb-2">Image:</label>
        <input type="file" id="tea-cover-image" name="tea-cover-image" class="form-control-file custom-file-input">
      </div>
      
      <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-block">Create</button>
      </div>
    </form>
  </div>
</div>



 </div> 
 </body>

